@media screen and ( max-width: 991px )
    .header
        padding-top: 0    
        padding-bottom: 0
        &__phone
            display: block
        &__container
            padding-top: 10px    
            padding-bottom: 10px
            border-bottom: 1px solid #FFDB48
        &__logo
            &__img
                width: 44px
                height: 44px
                background: url(../img/header/logoM.png) no-repeat center
                margin-right: 10px
            &__title
                font-size: 18px
            &__text
                font-size: 10px
        &__box
            display: none