@media screen and ( max-width: 1600px )
    .team
        padding-left: 0
        padding-right: 0
        &__title
            padding-left: 20px
            padding-right: 20px
        &__interface
            padding-left: 20px
            padding-right: 20px
        &__window
            &--big
                display: none
            &--medium
                display: block
        &__buttons
            &--big
                display: none
            &--medium
                display: flex

@media screen and ( max-width: 1400px )
    .quiz
        &__question
            &__box
                padding-right: 60px
        &__container
            background-image: url(../img/quiz/bgMain1400.png)
            padding: 110px 20px 110px 128px

    .works
        &__slider
            margin-right: 60px

    .price
        &__container
            padding: 40px
            background-position: left 100px

    .main
        &__container
            background-position-x: 135%

@media screen and ( max-width: 1200px )

    .quiz
        &__last
            padding: 85px 20px
            background-position: -200px center
            &__box
                margin: auto
        &__question
            &__img
                width: 370px
            &__box
                padding: 50px 20px
        &__container
            padding-left: 60px

    .works
        &__slider
            margin-right: 30px
            &__img
                width: 477px
                height: 313px
                &--min
                    width: 152px
                    height: 100px
    
    .price
        &__range
            width: 400px
        &__container
            background: url(../img/price/bg1200.png) no-repeat right center
        &__box
            max-width: 670px
            margin: 0

    .main
        &__title
            font-size: 40px
        &__subtitle
            font-size: 27px
        &__container
            padding-top: 40px
            padding-bottom: 40px
            background: url(../img/main/bg1200.png) no-repeat 120% center

@media screen and ( max-width: 991px )
    .team
        padding-top: 50px
        padding-bottom: 50px
        &__window
            &--small
                display: block
            &--medium
                display: none
        &__title
            margin-bottom: 10px
        &__text
            font-size: 18px
        &__interface
            margin-bottom: 40px
        &__buttons
            border: none
            &--medium
                display: none
            &--small
                display: flex
        &__button
            border: 1px solid #E0E0E0
            &--prev
                margin-right: 10px

    .quiz
        padding-top: 35px
        padding-bottom: 35px
        &__progress
            padding: 3px 7px
            margin: auto
            margin-bottom: 30px
            width: calc( 100% - 40px )
            &__item
                height: 8px
                margin-right: 6px
        &__label
            font-size: 16px
            padding-left: 30px
            width: 230px
            height: 40px
            margin-bottom: 10px
        &__question
            padding: 20px 0
            &__img
                display: none
                &--min
                    display: block
                    margin-bottom: 20px
            &__box
                height: auto
                padding: 40px 20px
            &__content
                max-width: 470px
                margin: auto
                display: block
            &__button
                max-width: 162px
                margin-right: 10px
            &__title
                font-size: 18px
                margin-bottom: 20px
        &__container
            padding: 100px 10px 100px 40px
            background-image: url(../img/quiz/bgMain991.png)
            padding: 65px 10px 65px 65px
        &__text
            font-size: 18px
            margin-bottom: 10px
        &__title
            margin-bottom: 30px
        &__button
            width: 185px

    .works
        padding-top: 40px
        padding-bottom: 40px
        &__button
            width: 100%
            max-width: 335px
        &__star
            font-size: 16px
            margin-bottom: 30px
            img
                margin-right: 10px
        &__icons
            max-width: 390px
            margin-bottom: 10px
            img
                width: 20px
                margin-right: 10px
            &__card
                font-size: 16px
                width: 166px
                margin-bottom: 20px
        &__ul
            font-size: 16px
            margin-bottom: 30px
        &__li
            margin-bottom: 10px
            position: relative
            padding-left: 30px
            img
                position: absolute
                left: 0
                top: 0
        &__slider
            &__img
                width: 345px
                height: 228px
                &--min
                    width: 108px
                    height: 70px
        &__types
            margin-bottom: 30px
            &__item
                font-size: 16px
                width: 165px
                height: 55px
                margin: 5px
        &__title
            margin-bottom: 20px

    .price
        padding-bottom: 40px
        &__title
            max-width: 390px
        &__box
            max-width: 600px
        &__button
            margin-bottom: 8px
        &__data
            margin-bottom: 20px
        &__footer
            font-size: 12px
        &__label
            font-size: 18px
            margin-bottom: 10px
        &__input
            padding: 18px 20px
            font-size: 16px
        &__range
            padding: 0 20px
            height: 30px
            &__track
                &__value
                    padding: 5px
                    bottom: -43px
        &__area
            margin-bottom: 55px
            &__title
                font-size: 18px
                max-width: 150px
        &__types
            margin-bottom: 30px
            max-width: 470px
            &__title
                font-size: 18px
                margin-bottom: 20px
        &__list
            &__label
                margin-bottom: 11px
            &__text
                padding-left: 30px
                font-size: 16px

    .main
        &__button
            width: 240px
        &__container
            background: url(../img/main/bg991.png) no-repeat calc( 100% + 80px ) center
        &__box
            max-width: 440px
        &__item
            width: 195px
            &__img
                margin-right: 11px
                width: 50px
                height: 50px
                &--1
                    background-image: url(../img/main/img1M.png)
                &--2
                    background-image: url(../img/main/img2M.png)
            &__text
                font-size: 14px
        &__elem
            transform: translateX(-40px)
            margin-bottom: 35px
            align-items: center
            &__text
                font-size: 18px
                padding-bottom: 0
            &__marker
                width: 70px
                &__line
                    height: 29px
                &__img
                    width: 31px
                    height: 31px
                    background-image: url(../img/main/markerM.png)
        &__title
            font-size: 30px
            margin-bottom: 10px
        &__subtitle
            font-size: 18px
            margin-bottom: 18px

    .header
        padding-top: 0    
        padding-bottom: 0
        &__phone
            display: block
        &__container
            padding-top: 10px    
            padding-bottom: 10px
            border-bottom: 1px solid #FFDB48
        &__logo
            &__img
                width: 44px
                height: 44px
                background: url(../img/header/logoM.png) no-repeat center
                margin-right: 10px
            &__title
                font-size: 18px
            &__text
                font-size: 10px
        &__box
            display: none

    .button
        font-size: 16px
        padding: 18px 0

    .section
        &__title
            font-size: 23px

@media screen and ( max-width: 767px )
    .scheme
        padding-top: 50px
        padding-bottom: 14px
        &__title
            margin-bottom: 44px
        &__number
            width: 75px
            height: 75px
            font-size: 48px
            margin-bottom: 20px
        &__text
            margin-bottom: 22px
            font-size: 16px
        &__content
            transform: translateY(-37.5px)
        &__logo
            width: 30px
            height: 30px
            img
                width: 14px
        &__card
            width: 130px
            height: 170px
            margin: 0
            margin: 36px 5px

    .quiz
        &__last
            max-width: 400px
            margin: auto
            padding: 40px 20px
            background-image: none
            &__title
                font-size: 22px
            &__text
                font-size: 16px
            &__footer
                font-size: 12px
            &__input
                font-size: 16px
                padding: 18px 20px
            &__data
                flex-direction: column
                margin-bottom: 10px
            &__input-group
                margin-bottom: 10px
                margin-right: 0
        &__progress
            max-width: 400px
        &__question
            &__box
                max-width: 400px
                margin: auto
        &__title
            text-align: center
        &__box
            display: flex
            flex-direction: column
            align-items: center
        &__container
            max-width: 400px
            padding: 64px 10px 290px
            background-image: url(../img/quiz/bgMainM.png)
            background-position: center bottom

    .works
        padding: 30px 0
        &__types
            display: none
        &__title
            padding-left: 20px
            padding-right: 20px
        &__slider
            margin-right: 0
            &__img
                width: 280px
                height: 180px
                &--min
                    width: 86px
                    height: 55px
            &__button
                width: 55px
                height: 55px
                background-color: #E0E0E0
        &__content
            display: none !important
            &--mobile
                display: block
            &__field
                padding-left: 20px
                padding-right: 20px

    .price
        padding: 0
        padding-bottom: 30px
        &__data
            flex-direction: column
        &__input-group
            margin-right: 0
            margin-bottom: 20px
        &__types
            flex-direction: column
            align-items: flex-start
            &__box
                margin-bottom: 30px
                &:last-of-type
                    margin-bottom: 0
        &__area
            flex-direction: column
            align-items: flex-start
            &__title
                margin-bottom: 22px
        &__range
            width: 100%
        &__title
            text-align: center
        &__container
            padding: 50px 20px 30px
            max-width: 400px
            background: url(../img/price/bgM.png) no-repeat right top

    .main
        background-color: #ffffff
        &__footer
            display: none
        &__info
            flex-direction: column
            align-items: flex-start
        &__item
            margin-right: 0
            margin-bottom: 22px
        &__title
            text-align: center
            max-width: 305px
            margin-left: auto
            margin-right: auto
        &__subtitle
            text-align: center
        &__container
            max-width: 400px
            padding-top: 45px
            padding-bottom: 36px
            background: url(../img/main/bgM.png) no-repeat right bottom

@media screen and ( max-width: 575px )
    .scheme
        padding-bottom: 50px
        &__title
            margin-bottom: 80px
        &__card
            margin: 0
        &__row
            display: grid
            grid-template-columns: 130px 130px
            grid-template-rows: repeat(5, 1fr)
            justify-content: center
            grid-column-gap: 10px
            grid-row-gap: 73px

    .team
        &__interface
            flex-direction: column
            align-items: center
        &__text
            position: static
            transform: none
            margin-bottom: 30px